@{layout('~mails/layout')}

<div style="font-size:20px;color:#A0A0A0">@(Уважаемый администратор)</div>
<div style="margin-top:15px">@(С вашего сайта была выслан запрос. Пожалуйста, проверьте контактные данные и сообщение ниже и ответтье:)</div>
<br />
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Номер)</div>
	<div>@{model.id}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Создано)</div>
	<div>@{model.datecreated.format('@(yyyy-MM-dd)')}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Заказчик)</div>
	<div>@{model.firstname} @{model.lastname}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Email адрес)</div>
	<div>@{model.email}</div>
</div>
@{if model.phone}
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Телефон)</div>
	<div>@{model.phone}</div>
</div>
@{fi}
<br />
<div style="border:2px solid #F0F0F0;padding:20px;border-radius:4px">
	<div style="margin-bottom:10px"><b>@(Сообщение:)</b></div>
	<div>@{!model.body.encode().replace(/\n/g, '<br />')}</div>
</div>