@{layout('~mails/layout')}

<div style="font-size:20px;color:#A0A0A0">@(Уважаемый(ая)) <b>@{model.firstname}</b></div>
<div style="margin-top:15px">@(<b>данные по заказу обновлены.</b> Пожалуйста, просмотрите статус этого заказа и нажмите на кнопку ниже.)</div>
<br />
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Номер заказа)</div>
	<div>@{model.id}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Статус)</div>
	<div>@{model.status}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Доставка)</div>
	<div>@{model.delivery}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Заказчик)</div>
	<div>@{model.firstname} @{model.lastname}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Email адрес)</div>
	<div>@{model.email}</div>
</div>
@{if model.phone}
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Телефон)</div>
	<div>@{model.phone}</div>
</div>
@{fi}
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Стоимость заказа)</div>
	<div>@{!model.price.currency()}</div>
</div>
<br />
@{if model.deliverystreet}
<div style="border:2px solid #F0F0F0;padding:20px;border-radius:4px">
	<div style="margin-bottom:5px;color:#A0A0A0;font-size:11px;text-transform:uppercase">@(Адрес доставки:)</div>
	<div>@{model.deliveryfirstname} @{model.deliverylastname}<br />@{model.deliverystreet} @{model.deliverynumber}<br />@{model.deliveryzip} @{model.deliverycity}<br />@{model.deliverycountry}</div>
</div>
@{fi}
<div style="margin:25px 0 10px;font-size:16px;text-transform:uppercase;color:black;"><strong>@(Детали заказа) (@{model.count})</strong></div>
@{foreach m in model.items}
<div style="background-color:#F8F8F8;padding:7px 10px;margin-bottom:1px;border-radius:4px">
	<div>@{m.name} (@{m.count}x)</div>
	<div style="font-weight:bold">@(Цена): @{!(m.price * m.count).currency()}</div>
</div>
@{end}
<div style="padding:15px 10px">
	<div style="font-size:11px;color:#A0A0A0;text-transform:uppercase">@(Итого:)</div>
	<div style="font-weight:bold">@(Цена): @{!model.price.currency()}</div>
</div>
<br />
<div style="border-top:1px solid #F0F0F0;padding:30px 0 10px"><a href="@{global.config.url}@{sitemap_url('order', model.id)}" style="padding:20px 0;border-radius:4px;text-align:center;text-decoration:none;margin:0 auto;max-width:300px;width:100%;border:2px solid #4CABF8;display:block;background-color:#4CABF8;color:white;font-size:18px;font-weight:bold;letter-spacing:-1px">@(Отследить заказ)</a></div>